.App {
  width: 60%;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  margin: 20px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
li span {
  padding: 2px;
}


li.high {
  border: 2px solid #ff0090;
  color: #000000;
}

li.low {
  border: 2px solid #7e7e7e;
}
input[type="text"] {
  padding: 10px;
  width: 50%;
  margin:5px;
}
button, input[type="submit"]{
  padding: 10px;
  background: rgb(255, 213, 0);
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: 1px solid #000;
}

h1 {

    font-family: 'Bungee Shade', cursive;
    font-size: 50px;
    color: #ff0090;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

input[type=submit] {
  background-color:#ff0090;
  border-radius:42px;
  border:2px solid #000000;
  color:#000000;
  font-size:16px;
  padding:10px 20px;
  margin: 10px;
  text-decoration:none;
  /* text-shadow:0px px 0px #000000; */
  /* box-shadow: -10px 15px 0px rgba(0,0,0,.81); */
}
input[type=submit]:hover {
  background-color:#3DD1E7;
  border-radius:42px;
  border:2px solid #000000;
  color:#000000;
  font-size:16px;
  padding:10px 20px;
  margin: 10px;
  text-decoration:none;
  /* text-shadow:0px px 0px #000000; */
  /* box-shadow: -5px 10px 0px rgba(0,0,0,.81); */
}

input[name="something"] {
	accent-color: #3DD1E7;
}


